RepositoryPostgreSQL/bin
RepositoryMySQL/bin
RepositoryMsSQL/bin
RepositoryMonoSQLite/bin
RepositoryMonoSQLite/bin/
SuperSimpleWorker_test/bin
SuperSimpleWorker_test/test-results
test-results
SuperSimpleWorker/bin
worker/bin/**/*
worker/bin
RepositoryMonoSQLite/obj/
RepositoryMsSQL/obj/
RepositoryMySQL/obj/
RepositoryPostgreSQL/obj/
SuperSimpleWorker/obj/
SuperSimpleWorker_test/obj/
worker/obj
