<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
    <add name="delayed_job_db"
         providerName="RepositoryMonoSQLite"
         connectionString="URI=file:/Users/Fritz/Documents/Projects/delayed_job/delayed_job_test/bin/Debug/delay_job.db"/>
</connectionStrings> 
<!-- <connectionStrings>
    <add name="delayed_job_db"
         providerName="RepositoryMySQL"
         connectionString="Data Source=172.16.24.131;Database=delayed_job_test;User ID=;Password="/>
</connectionStrings> -->
<!-- <connectionStrings>
    <add name="delayed_job_db"
         providerName="RepositoryMsSQL"
         connectionString="Server=172.16.24.141;Database=delayed_job_test;User ID=;Password="/>
</connectionStrings>-->
</configuration>
