<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
    <add name="delayed_job_db"
         providerName="RepositoryMonoSQLite"
         connectionString="URI=file:/Users/Fritz/Documents/Projects/delayed_job/delayed_job_test/bin/Debug/delay_job.db"/>
</connectionStrings>
</configuration>
